extends layout

block content
  .container.mt-5
    h1.text-center Welcome to Smart Object Manager
    p.text-center Manage your smart objects easily.

    .d-flex.justify-content-center.mt-4
      a.btn.btn-primary(href="/form") Create a New Smart Object

    .d-flex.justify-content-center.mt-2
      a.btn.btn-secondary(href="/login") Login
